# будут игнорироваться все файлы Thumbs.db
Thumbs.db
# будут игнорироваться все файлы .DS_Store
.DS_Store
# будет игнорироваться каталог tmp
tmp/
# будут игнорироваться файлы, заканчивающиеся суффиксами _old, _backup
*.*_old
*.*_backup
